<div class="container text-justify">
    <div class="row ">
        <div class="col-md-3">
            @Resources.Translations.About_WhyDeveloperShouldJoin
        </div>
        <div class="col-md-6">
            <h2>
                @Resources.Translations.About_AboutPortal
                
            </h2>
        </div>

        <div class="col-md-3">
            @Resources.Translations.About_WhyRecruiterShouldJoin
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(@Resources.Translations.About_AboutDevelopers)
        </div>
    </div>
</div>