@using DreamJob.Common.Enum @model DreamJob.Ui.Web.Mvc.Models.DeveloperPublicProfileViewModel
<div>
    <div class="row">
        <div class="small-8 columns">
            <h4>
                <strong>Title:</strong>
                @Model.DeveloperPublicDataDto.Title
            </h4>
        </div>
        <div class="small-2 columns">
            <h4>@Model.DeveloperPublicDataDto.City</h4>
        </div>
        <div class="small-2 columns">
            <h4>@Model.DeveloperPublicDataDto.MinSalary PLN</h4>
        </div>


        <p>
            <strong>Profile:</strong>
            @Model.DeveloperPublicDataDto.Profile
        </p>

        <p>
            <strong>Profile preferences:</strong>
            @Model.DeveloperPublicDataDto.ProjectPreferences
        </p>

    </div>
@if (Model.UserAccountType == UserAccountType.Recruiter)
    {
        @Html.Partial("_DeveloperProfileRecruiterOptionPanel", @Model.DeveloperPublicDataDto)
}
</div>