@using DreamJob.Common.Enum @model DreamJob.Ui.Web.Mvc.BusinessServices.DeveloperPublicProfileViewModel


<div>
    <div class="row">
        <div class="row">
            @Model.DeveloperPublicDataDto.DisplayName
        </div>
        <div class="row">
            @Model.DeveloperPublicDataDto.Title
        </div>
        <div class="row">
            @Model.DeveloperPublicDataDto.Profile
        </div>
        <div class="row">
            @Model.DeveloperPublicDataDto.ProjectPreferences
        </div>
        <div class="row">
            <div class="medium-4 columns">
                @Model.DeveloperPublicDataDto.City
            </div>
            <div class="medium-4 columns">
                @Model.DeveloperPublicDataDto.MinSalary
            </div>
        </div>
    </div>
    @if (Model.UserAccountType == UserAccountType.Recruiter)
    { @Html.Partial("_DeveloperProfileRecruiterOptionPanel", null) }
</div>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/foundation-angular/mm-foundation-tpls-0.3.1.min.js"></script>
    <script src='~/AngularApplication/dreamjobapplication.js'></script>
    <script src="~/AngularApplication/Controllers/RecruiterPanelJobEditorController.js"></script>
    <script src="~/AngularApplication/Controllers/RecruiterPanelController.js"></script>
}