@model DreamJob.ViewModels.HomeIndexViewModel

<div class="container">
    <div class="row bolded-text">
        <span class="col-md-4 short-text">@Resources.Translations.Home_Position</span>
        <span class="col-md-4 short-text">@Resources.Translations.Home_Summary</span>
        <span class="col-md-1">@Resources.Translations.Home_Skills</span>
        <span class="col-md-3 text-right">@Resources.Translations.Home_Salary</span>
    </div>
    <div class="list-group">
        @Html.DisplayFor(m => m.Headlines)
    </div>

</div>


