@model DreamJob.ViewModels.ContactInformationViewModel

<div class="form-group">
    @Html.LabelFor(m => m.FirstName)
    @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName)
    @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.EditorFor(m => m.Email, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Phone)
    @Html.EditorFor(m => m.Phone, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Note)
    @Html.EditorFor(m => m.Note, new { @class = "form-control" })
</div>



