@model DreamJob.ViewModels.JobOfferAcceptViewModel

@using (Html.BeginForm("Accept", "JobOffer", FormMethod.Post))
{
  @Html.Partial("_ValidationSummary")
    @Html.HiddenFor(m => m.JobOfferId)
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
    </div>

    @Html.EditorFor(m => m.ContactInformation)

    <div class="pull-right">
        <button type="submit" role="button" class="btn btn-primary nocss-button-job-offer-status-change">Submit</button>
        @Html.ActionLink("Cancel", "Details", "JobOffer", new { id = Model.JobOfferId }, new { @class = "btn btn-default" })
    </div>
}