@model DreamJob.ViewModels.ProfilePublicRecruiterViewModel
<h1>@Model.FirstName @Model.LastName</h1>
<div>
    @Html.LabelFor(m => m.Employer)
    @Html.DisplayFor(m => m.Employer)
</div>
<div>
    @Html.LabelFor(m => m.Email)
    @Html.DisplayFor(m => m.Email)
</div>