@model DreamJob.ViewModels.ProfilePublicRecruiterViewModel
<h1>@Model.FirstName @Model.LastName</h1>
<h6>
    @Html.LabelFor(m => m.Employer)
    @Html.DisplayFor(m => m.Employer)
</h6>
<h5>
    @Html.LabelFor(m => m.Email)
    @Html.DisplayFor(m => m.Email)
</h5>