@model DreamJob.Ui.Web.Mvc.Controllers.UserProfileDto


<div class="row">
    <div class="medium-4 columns">
        <div class="row">
            @Html.LabelFor(m => m.DisplayName) @Html.DisplayFor(m => m.DisplayName)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Email) @Html.DisplayFor(m => m.Email)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Login) @Html.DisplayFor(m => m.Login)
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="row">
            @Html.LabelFor(m => m.Registered) @Html.DisplayFor(m => m.Registered)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.AccountType) @Html.DisplayFor(m => m.AccountType)
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="row">
            <label for="oldPassword">Old password</label>
            <input type="password" name="oldPassword" />
        </div>
        <div class="row">
            <label for="newPassword">New password</label>
            <input type="password" name="newPassword" />
        </div>
        <div class="row">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" name="confirmPassword" />
        </div>
    </div>
</div>

<div ng-app='djpa'>
    <div ng-include='"AngularApplication/Views/Profile/Index.html"'></div>
</div>


@section scripts{
<script src="~/Scripts/angular.js"></script>
<script src='~/AngularApplication/profileApplication.js'></script>
<script src="~/AngularApplication/Controllers/ProfileController.js"></script>
}
