@using DreamJob.ViewModels
@model JobOfferStatusChangeViewModel
<div class="row">
    <div class="col-md-2">
        @Model.CreateDateTime
    </div>
    <div class="col-md-2">
        @Model.Status
        @if (Model.Status == JobOfferStatus.Accepted)
        {
            <a href="@Url.Action("ContactDetails", "JobOffer", new { id = Model.Id })">
                <span class="glyphicon glyphicon-info-sign nocss-contact-details"
                      data-contact-details-id="@Model.Id"
                      id="nocss-contact-details-id-@Model.Id"></span>
            </a>
        }
    </div>
    <div class="col-md-2">
        @Model.AuthorName
    </div>
    <div class="col-md-6">
        @Model.Text
    </div>
</div>