@model DreamJob.ViewModels.JobOfferDetailViewModel
<h1>
    @Html.DisplayFor(m => m.Position),
    @Html.DisplayFor(m => m.Salary) PLN
    <small>@Html.ActionLink(Model.DeveloperDisplayName, "Public", "Profile", new { id = Model.DeveloperId }, null)</small>
</h1>
<ul class="flow">
    @Html.DisplayFor(m => m.JobOfferStatusChangeViewModels)
</ul>

<div>
    @Html.LabelFor(m=>m.CompanyName)
    @Html.DisplayFor(m => m.CompanyName)
</div>
<div>
    @Html.LabelFor(m => m.JobOfferText)
    <p class="multiline">
        @Html.DisplayFor(m => m.JobOfferText)
    </p>
</div>


<div>
    @Html.LabelFor(m => m.Requirements)
    <p class="multiline">
        @Html.DisplayFor(m => m.Requirements)
    </p>
</div>

<div>
    <div class="nocss-container-job-offer-comments">
        <section class="comment-list">
            @Html.DisplayFor(m => m.JobOfferComments)
        </section>
    </div>
</div>

