@model DreamJob.ViewModels.JobOfferHeadlineViewModel
@{
    var boldedStyle = Model.IsBoldedLine ? "bolded-text" : string.Empty;
}
<a class="list-group-item row @boldedStyle" href="@Url.Action("Details", "JobOffer", new { id = @Model.Id })">
    <span class="col-md-3 short-text">
        @Model.MessageCountToShow
        @Model.CompanyName
    </span>
    <span class="col-md-3 short-text">
        @Model.Position
    </span>
    <span class="col-md-1">
        @Model.Salary
    </span>
    <span class="col-md-2">
        @Model.DeveloperDisplayName
    </span>
    <span class="col-md-1">
        @Model.Status
    </span>
    <span class="col-md-2">
        @Model.CreateDateTime.ToLongDateString()
    </span>
</a>
