@model DreamJob.ViewModels.JobOfferHeadlineViewModel
<div class="row">
    <div class="col-md-2">
        @Model.CreateDateTime.ToLongDateString()
    </div>
    <div class="col-md-3">
        @Html.ActionLink(@Model.DeveloperDisplayName, "Public", "Profile", new { id = Model.DeveloperId }, null)
    </div>
    <div class="col-md-2">
        @Model.Position
    </div>
    <div class="col-md-2">
        @Model.CompanyName
    </div>
    <div class="col-md-1">
        @Model.Salary
    </div>
    <div class="col-md-1">
        @Model.Status
    </div>
    <div class="col-md-1">
        @Html.ActionLink("Details", "Details", "JobOffer", new { id = @Model.Id }, new { @class = "btn btn-info" })
    </div>
</div>