@model DreamJob.Ui.Web.Mvc.Models.UserRegistrationViewModel
<div class="row">
    <div class="row">
        <form role="form" id="dj-register-form">
            @Html.AntiForgeryToken()
            <div class="row" id="dj-register-users-error-container"></div>
            <div class="row">
                @Html.LabelFor(x => x.User.Login)
                @Html.TextBoxFor(x => x.User.Login)
            </div>
            <div class="row">
                @Html.LabelFor(x => x.User.Password)
                @Html.PasswordFor(x => x.User.Password)
            </div>
            <div class="row">
                @Html.LabelFor(x => x.User.DisplayName)
                @Html.TextBoxFor(x => x.User.DisplayName)
            </div>
            <div class="row">
                @Html.LabelFor(x => x.User.Email)
                @Html.TextBoxFor(x => x.User.Email)
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div style="line-height: 200px;">
        <div class="small-2 column small-offset-3">
            <div id="dj-button-register-as-developer" class="button">Register as developer</div>
        </div>
        <div class="small-2 small-pull-3 column">
            <div id="dj-button-register-as-recruiter" class="button">Register as recruiter</div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#dj-button-register-as-developer').click(function () {
            $.ajax({
                url: '@Url.Action("RegisterDeveloper", "Register")',
                type: 'post',
                data: $('#dj-register-form').serialize()

            }).always(function (response) {
                apendErrors(response);
            });
        });

        var apendErrors = function (response) {
            $('#dj-register-users-error-container').html(response);
        };

        $('#dj-button-register-as-recruiter').click(function () {

            $.ajax({
                url: '@Url.Action("RegisterRecruiter", "Register")',
                type: 'post',
                data: $('#dj-register-form').serialize()
            }).always(function (response) {
                apendErrors(response);
            });
        });
    </script>
}