@model DreamJob.ViewModels.DeveloperHeadlineViewModel
<div class="row">
    <div class="col-md-4 col-md-offset-1">@Model.DisplayName</div>
    <div class="col-md-2">Skills: @Model.SkillsCount</div>
    <div class="col-md-3">@Model.Salary</div>
    <div class="col-md-1">@Html.ActionLink("profile", "Public", "Profile", new { id = @Model.Id }, new { @class = "btn btn-sm btn-default" })</div>
</div>