@model DreamJob.ViewModels.SearchResultViewModel

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            @Resources.Translations.Search_RequestedSkills
            @foreach (var skillquery in @Model.RequestedSkills)
            {
                <span class="label label-info">@skillquery</span>
            }
        </div>
        <div class="row">
            @Resources.Translations.Search_MatchingSkills
            @Html.DisplayFor(m => m.SkillsMatchedFount)
        </div>
        <div class="row">
            @Resources.Translations.Search_SearchResults
            @Html.DisplayFor(m => m.Headlines)
        </div>
    </div>

</div>


