@model DreamJob.Ui.Web.Mvc.Controllers.LoginDTO


<div class="row">
    <form role="form" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.LabelFor(x => x.Login)
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
        </div>
        <div class="row">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
        <div class="row">
            <div class="button">login</div>
        </div>
    </form>
</div>