@model DreamJob.ViewModels.ProfilePrivateDeveloperViewModel

<div class="form-group">
    @Html.LabelFor(m => m.DisplayName)
    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AboutMe)
    @Html.TextAreaFor(m => m.AboutMe, new { @class = "form-control", @rows = 5 })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LookingFor)
    @Html.TextAreaFor(m => m.LookingFor, new {@class = "form-control", @rows = 5})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.CurrentWorkingLocation)
    @Html.TextBoxFor(m => m.CurrentWorkingLocation, new {@class = "form-control"})
</div>
<div class="form-group">
    @Html.LabelFor(m => m.WillingToRelocateToDifferentCity)
    @Html.CheckBoxFor(m => m.WillingToRelocateToDifferentCity)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.WillingToRelocateToDifferentCountry)
    @Html.CheckBoxFor(m => m.WillingToRelocateToDifferentCountry)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ExperienceInYears)
    @Html.TextBoxFor(m => m.ExperienceInYears)
</div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                @Html.LabelFor(m => m.Salary)
            </span>
            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
            <span class="input-group-addon">@Resources.Translations.Profile_Salary</span>
        </div>
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.IsActive)
        @Html.LabelFor(m => m.IsActive)
    </div>
    <label>@Resources.Translations.Profile_Skills</label>
    @Html.EditorFor(m => m.Skills)
