@using DreamJob.ViewModels
@model ProfilePublicViewModel

@if (Model.ProfileRole == ApplicationUserRole.Developer)
{
    @Html.DisplayFor(m => m.Developer)
}
@if (Model.ProfileRole == ApplicationUserRole.Recruiter)
{
    @Html.DisplayFor(m => m.Recruiter)
}
@if (Model.CurrentUserRole != ApplicationUserRole.Anonymous)
{
    if (Model.IsRecruiterAbleToSendOffer)
    {
        @Html.ActionLink(Resources.Translations.Profile_SendJobOffer, "Send", "JobOffer", new { id = @Model.Developer.Id }, new { @class = "btn btn-default nocss-button-send-job-offer" })
    }
    if (Model.IsRecruiterInactive)
    {
        <div>
            <span class="label label-warning">@Resources.Translations.Profile_Warning</span>
            <p>@Resources.Translations.Profile_RecruiterProfileIsNotActiveWarning</p>
            @Html.ActionLink(Resources.Translations.Profile_GoToProfileEdit, "Edit", "Profile", null, new { @class = "btn btn-default btn-sm" })
        </div>
    }
}