@using DreamJob.ViewModels
@model ProfilePublicViewModel

@if (Model.ProfileRole == ApplicationUserRole.Developer)
{
    @Html.DisplayFor(m => m.Developer)
}
@if (Model.ProfileRole == ApplicationUserRole.Recruiter)
{
    @Html.DisplayFor(m => m.Recruiter)
}

@if (Model.CurrentUserRole == ApplicationUserRole.Recruiter && Model.ProfileRole == ApplicationUserRole.Developer && Model.CurrentUserProfileIsActive)
{
    @Html.ActionLink("Send job offer", "Send", "JobOffer", new { id = @Model.Developer.Id }, new { @class = "btn btn-default nocss-button-send-job-offer" })
}
@if (Model.CurrentUserRole == ApplicationUserRole.Recruiter && Model.CurrentUserProfileIsActive == false)
{
    <div>
        <span class="label label-warning">Warning</span>
        <p>Your's profile in not active, change that in order to send job offers to best developers like one</p>
        @Html.ActionLink("Go to profile edit", "Edit", "Profile", null, new { @class = "btn btn-default btn-sm" })
    </div>
}