@using DreamJob.ViewModels
@model ProfilePrivateViewModel
<div class="container">
    <form action=@Model.GetCurrentUserFormActionUrl() method="POST">
        @Html.Partial("_ValidationSummary")
        @if (Model.LoggedInUserRole == ApplicationUserRole.Developer)
        {
            @Html.Partial("_EditorForProfilePrivateDeveloperViewModel", Model.Developer)
        }
        else
        {
            @Html.Partial("_EditorForProfilePrivateRecruiterViewModel", Model.Recruiter)
        }

        <div class="form-group pull-right">
            <button name="Action" role="button" type="submit" value="" class="btn btn-primary">update</button>
            <button name="Action" role="button" type="submit" value="" class="btn btn-primary">@Resources.Translations.Profile_Update</button>
            @Html.ActionLink(@Resources.Translations.Profile_BackToProfile, "Me", "Profile", null, new { @class = "btn btn-default" })
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/Scripts/developerProfieEdit.js"></script>
    <script type="text/javascript">
        var developerProfileEditOptions = {
            buttonRemoveSkill: ".nocss-remove-skill",
            skillRow: ".nocss-skill-row",
            dataSkillId: "skill-id",
            urlRemoveSkill: "@Url.Action("RemoveDeveloperSkill", "Profile")",
        };

        $(document).ready(function () {
            developerProfileEdit.initialize(developerProfileEditOptions);
        });
    </script>
}
