@using DreamJob.ViewModels
@model ProfilePublicViewModel
<div class="container col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <h5>@Model.ProfileRole</h5>
        @if (Model.ProfileRole == ApplicationUserRole.Developer)
        {
            @Html.DisplayFor(m => m.Developer)
        }
        @if (Model.ProfileRole == ApplicationUserRole.Recruiter)
        {
            @Html.DisplayFor(m => m.Recruiter)
        }
    </div>
    @if (Model.ProfileRole == ApplicationUserRole.Developer)
    {
        <label>Skills:</label>
        <div>
            @Html.DisplayFor(m => m.Developer.SkillsViewModels)
        </div>
        <div>
            @Html.LabelFor(m => m.Developer.AboutMe)
            <p class="text-justify">
                @Model.Developer.AboutMe
            </p>
        </div>
        <div>
            @Html.LabelFor(m => m.Developer.LookingFor)
            <p class="text-justify">
                @Model.Developer.LookingFor
            </p>
        </div>
    }

    @if (Model.CurrentUserRole == ApplicationUserRole.Recruiter && Model.ProfileRole == ApplicationUserRole.Developer && Model.CurrentUserProfileIsActive)
    {
        @Html.ActionLink("Send job offer", "Send", "JobOffer", new { id = @Model.Developer.Id }, new { @class = "btn btn-default nocss-button-send-job-offer" })
    }
    @if (Model.CurrentUserRole == ApplicationUserRole.Recruiter && Model.CurrentUserProfileIsActive == false)
    {
        <div>
            <span class="label label-warning">Warning</span>
            <p>Yours profile in not active, change that in order to send job offers to best developers like one</p>
            @Html.ActionLink("Go to profile edit", "Edit", "Profile", null, new { @class = "btn btn-default btn-sm" })
        </div>
    }


</div>
<div class="modal nocss-dialog-send-job-offer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content nocss-content-send-job-offer"></div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/sendJobOffer.js"></script>
    <script type="text/javascript">
        var sendJobOfferOptions = {
            formSendJobOffer: ".nocss-form-job-offer",
            alertSuccess: ".nocss-alert-success",
            errorError: ".nocss-alert-error",
            buttonSendJobOfferSubmit: ".nocss-button-job-offer-submit",
            buttonSendJobOffer: ".nocss-button-send-job-offer",
            contentSendJobOfferDialog: ".nocss-content-send-job-offer",
            placeholderSendJobOfferDialog: ".nocss-dialog-send-job-offer",
            urlSendJobOfferDialog: "@Url.Action("SendJobOfferDialog","JobOffer",new{id=@Model.Developer.Id})"
        };

        $(window).ready(function() {
            sendJobOffer.initialize(sendJobOfferOptions);
        });
    </script>
}
