<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />@*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream Job</title>
    <link href="~/fav.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/bundles/site")
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navigation" style="position: fixed; width: 100%;">
        @Html.Partial("_Navigation")
    </div>
    <div class="body">
        @RenderBody()
    </div>
    <div class="scripts">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        @Scripts.Render("~/bundles/app")
    </div>
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>