@model DreamJob.ViewModels.JobOfferCancelViewModel

<h2>Canceling offer</h2>
<h3>@Model.Position at @Model.CompanyName, @Model.Salary PLN</h3>

@using (Html.BeginForm("Cancel", "JobOffer", FormMethod.Post))
{
    @Html.HiddenFor(m => m.JobOfferCancelDto.JobOfferId)
    
    
    <div class="form-group">
        @Html.LabelFor(m => m.JobOfferCancelDto.Text)
        @Html.TextAreaFor(m => m.JobOfferCancelDto.Text, new { @class = "form-control" })
    </div>
    <div class="pull-right">
        <button type="submit" role="button" class="btn btn-primary nocss-button-job-offer-status-change">Submit</button>
        @Html.ActionLink(Resources.Translations.JobOffer_Cancel, "Details", "JobOffer", new { id = Model.JobOfferCancelDto.JobOfferId }, new { @class = "btn btn-default" })
    </div>

}
