@model DreamJob.ViewModels.JobOfferDetailsViewModel
<div class="container">
    <div class="row">
        @Html.DisplayFor(m => m.JobOfferDetailViewModel)
    </div>
    <div class="row">
        <label>Status history:</label>
        @Html.DisplayFor(m => m.JobOfferDetailViewModel.JobOfferStatusChangeViewModels)
    </div>

    <div class="row">
        @Html.EditorFor(m => m.NewCommentViewModel)
    </div>
</div>

<div class="modal nocss-dialog-job-offer-change-status" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content nocss-content-job-offer-change-status"></div>
    </div>
</div>

<script src="~/Scripts/jobOfferDetailsComments.js"></script>
<script src="~/Scripts/jobOfferDetailsChangeStatus.js"></script>
<script type="text/javascript">

    var jobOfferDetailsCommentOptions = {
        buttonJobOfferDetailAddComment: ".nocss-button-job-offer-add-comment",
        formAddComment: ".nocss-form-job-offer-add-comment",
        containerJobOfferComments: ".nocss-container-job-offer-comments",
        urlJobOfferAddComment:"@Url.Action("AddPartial","Comment")"
    };

    var jobOfferDetailsChangeStatusOptions = {
        containerJobOfferStatusChangeDialog: ".nocss-dialog-job-offer-change-status",
        containerJobOfferStatusChangeContent: ".nocss-content-job-offer-change-status",
        buttonJobOfferStatusChange: ".nocss-button-status-change",
        buttonJobOfferStatusChangeSubmit: ".nocss-button-job-offer-status-change",
        dataJobOfferDataAttributeStatus: "job-offer-status",
        dataJobOfferId: "@Model.JobOfferDetailViewModel.Id",
        contentHolderValidationError: ".nocss-validation-errors",
        urlJobOfferStatusChange: '@Url.Action("StatusChange","JobOffer")'
    };

    $(document).ready(function() {
        jobOfferDetailsComments.initialize(jobOfferDetailsCommentOptions);
        jobOfferDetailsChangeStatus.initialize(jobOfferDetailsChangeStatusOptions);
    });
</script>                                                                                      